/* Reset some default browser styles */
html, body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a basic page background color and font style */
body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    color: #e0e0e0;
    line-height: 1.6;
    margin: 0;
    padding: 0; 
}

/* Style the header */
header {
    background-color: #424242  ;
    color: #e0e0e0;
    text-align: left;
    padding: 1em 1em;
}

/* Style the navigation menu */
nav ul {
    list-style: none;
    text-align: left;
    background-color: #303030 ;
    padding: 1em 1em;
}

/* Custom styling for tags section */
#tags {
    columns: 2;
    -webkit-columns: 2;
    -mox-columns: 2;  
    margin-left: 25px; 
   }

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
}

/* Style the main content */
main {
    max-width: 100%;
    padding: 10px;
}

/* Style section headings */
section h2 {
    font-size: 24px;
    margin-bottom: 0px;
    color: #e0e0e0;
}
section h3 {
    margin-bottom: 0px;
}
section h4 {
    margin-top: 0px;
}
#section1 {
    background-color: #303030;
    padding: 10px;
}
#section2 {
    padding: 10px;
    background-color: #424242;
}
#section3 {
    background-color: #303030;
    padding: 10px;
}

/* Style images within sections */
section img {
    max-width: 50%; 
    height: 200px;
    display: block;
    margin: 10px 0;
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #424242;
    color: #e0e0e0;
    padding: 10px 0;
}

/* Add responsive styles */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }
}
